@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body{
    background: #111;
    color: #fff;
    box-sizing: border-box;
}
/* section{
    height: 3000px;
} */
section .inner{
    border: 1px solid #111;
}
#contact .inner{
    border: none;
    border-top: 1px solid #f1f1f1;
    
   
}
header{
    width: 100%;
    height: 70px;
    position:sticky;
    top: 0;
   
    /* border: 1px solid red; */
    
    background: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(8px);
    z-index: 1000;
    

    
}
header .inner{
    width: 1540px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
   
}
header .inner .gnb li.on a{
    color: #00F0B6;
}
header .inner h1 a{
    display: block;
    width: 48px;
    height: 34px;
    background: url("../images/logo.png")no-repeat;
    text-indent: -99999px;

}
header .inner .gnb{
    display: flex;
    gap: 128px;
    margin-top: 18px;
   
}
header .inner .gnb li a{
    font-size: 16px;
    color: #fff;
}
#home{
    width: 100%;
    height: 1080px;
    margin-top: -70px;
}
#home .inner{
    width: 1540px;
    height: 1080px;
    margin: auto;
    /* border: 1px solid blue; */
    position: relative;
}
#home .inner .txt{
    position: absolute;
    top: 213px;
    left: 0;
    z-index: 100;
}
#home .inner .txt h3{
    font-size: 128px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 45px;
    animation: h3ani 2s ease;
    /* border: 1px solid red; */
}
@keyframes h3ani{
    0%{margin-left: -600px;}
    50%{margin-left: -600px;}
    100%{margin-left: 0;}
}
#home .inner .txt img{
    width: 1540px;
    height: 184px;
    animation: img1ani 3.5s ease;
    
    /* border: 1px solid red; */
}
@keyframes img1ani{
    0%{margin-left: -1800px;}
    50%{margin-left: -1800px;}
    100%{margin-left: 0;}
}
#home .inner .txt p{
    
    font-size: 48px;
    width: 1540px;
    font-weight: 300;
    text-align: right;
    margin-top: 20px;
    animation: pani 5.9s ease;
    /* border: 1px solid red; */
}
@keyframes pani{
    0%{margin-left: -1800px;}
    50%{margin-left: -1800px;}
    100%{margin-left: 0px;}
}
#home .inner .imgbox{
    width: 847px;
    height: 708px;
    background: url("../images/square.png")no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: imgani 4s ease infinite;
 
}
@keyframes imgani{
    0%{opacity: 0;}
    35%{opacity: 1;}
    70%{opacity: 1;}
    100%{opacity: 0;}
}

#contents{
   
    width: 100%;
    height: 1080px;
    background: url("../images/YYqc.gif")center center;
    position: relative;
   
    
}
#contents .wrap{
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
#contents .inner{
    width: 1540px;
    height: 1080px;
    margin: auto;
    /* border: 1px solid red; */
    position: relative;
}
#contents .inner .txt{
    position: absolute;
    top: 142px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#contents .inner .txt h3{
    font-size: 128px;
    font-weight: 700;
    margin-bottom: 90px;
   
}
#contents .inner .txt .menu{
    width: 470px;
   margin: auto;
    /* border: 1px solid pink; */
}
#contents .inner .txt .menu li{
   text-align: center;
    margin: 0 auto 50px;
}
#contents .inner .txt .menu li:nth-child(2),
#contents .inner .txt .menu li:nth-child(4){
    width: 50px;
    height: 50px;
    background: #00F0B6;
    border-radius: 25px;
    text-indent: -99999px;
   
}
#contents .inner .txt .menu li:last-child{
    margin-bottom: 0;
}
#contents .inner .txt .menu li a{
    font-size: 96px;
    color: #00F0B6;
    font-weight: 500;
}
/* #contents .inner .imgbox{
    width: 847px;
    height: 708px;
    background: url("../images/opa.png")no-repeat;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
#about{
    width: 100%;
    height: 1080px;
}
#about .inner{
    width: 1540px;
    height: 1080px;
    margin: auto;
    position: relative;
    /* border: 1px solid red; */
}
#about .inner .txt{
    margin-top: 110px;
}
#about .inner .txt .a{
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    margin-right: 163px;
    position: relative;
    
}
#about .inner .txt .a:before{
    content: '';
    width: 4px;
    height: 200px;
    background: #fff;
    position: absolute;
    right: 533px;
    top: 0;
    animation: aani 2s ease;
}
@keyframes aani{
    0%{margin-top: -800px;}
    50%{margin-top: -800px;}
    100%{margin-top: 0;}
}
#about .inner .txt .m{
    font-size: 96px;
    font-weight: 700;
    color: #00F0B6;
    text-align: center;
    margin-left: 306px;
    position: relative;
}
#about .inner .txt .m::before{
    content: '';
    width: 445px;
    height: 4px;
    background: #00F0B6;
    position: absolute;
    left: 240px;
    top: 0;
    animation: mani 2.5s ease;
}
@keyframes mani{
    0%{margin-top: -800px;}
    50%{margin-top: -800px;}
    100%{margin-top: 0;}
}
#about .inner .imgbox{
    width: 507px;
    height: 238px;
    background: url("../images/line.png")no-repeat;
    position: absolute;
    left: 556px;
    top: 46.1%;
}
#about .inner .about{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid red; */
    
}
#about .inner .about .all{
   
    display: flex;
    align-items: center;
    
}
#about .inner .all .c_cover{
    width: 400px;
    height: 400px;
    background: #111;
    /* border: 1px solid red; */
    margin-top: 96px;
}
#about .inner .all .c_cover .profile{
    width: 400px;
    height: 400px;
    
    border-radius: 200px;
    background: #fff;
    position: relative;
   
}
#about .inner .all .c_cover .profile .circle{
    width: 360px;
    height: 360px;
    border-radius: 180px;
    background: url("../images/Slice\ 11.png")no-repeat;
    position: absolute;
    top: 20px;
    left: 20px;
}
#about .inner .all .c_cover .profile .circle span{
    color: #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 48px;
    font-weight: 700;
}
#about .inner .all .info{
    font-size: 36px;
    font-weight: 700;
    /* margin-top: 118px; */
    /* border: 1px red solid ; */
    height: 402px;
    margin-top: 96px;
    padding-top: 64px;
    box-sizing: border-box;
}
#about .inner .all .info li{
    margin-bottom: 24px;
}
#about .inner .all .info li span{
    font-size: 28px;
}
#about .inner .all .info li:nth-child(2),#about .inner .all .info li:nth-child(4){
    margin-left: 29px;
}
#about .inner .all .info li:nth-child(3){
    margin-left: 60px;
}
#about .inner .all .info li:last-child{
    margin-bottom: 0;
}
#about .inner .stats{
    
    /* border: 1px solid red; */
    margin-top: 142px;
    box-sizing: border-box;
}
#about .inner .stats .bar{
    width: 484px;
    height: 100px;
    border-radius: 50px;
    background: #fff;
    position: relative;
    margin-bottom: 18px;
    overflow: hidden;
}
#about .inner .stats .bar:last-child{
    margin-bottom: 55px;
}
#about .inner .stats .txt1{
    width: 80%;
    height: 76px;
    background: #00F0B6;
    border-radius: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    animation: txt1ani 3.5s ease ;
    
}
@keyframes txt1ani{
    0%{width: 0;}
    70%{width: 0;}
    100%{width: 80%;}
}
#about .inner .stats .txt2{
    width: 70%;
    height: 76px;
    background: #00F0B6;
    border-radius: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    animation: txt2ani 3.5s ease ;
}
@keyframes txt2ani{
    0%{width: 0;}
    70%{width: 0;}
    100%{width: 70%;}
}
#about .inner .stats .txt3{
    width: 90%;
    height: 76px;
    background: #00F0B6;
    border-radius: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    animation: txt3ani 3.5s ease ;
}
@keyframes txt3ani{
    0%{width: 0;}
    70%{width: 0;}
    100%{width: 90%;}
}
#about .inner .stats .bar p{
    font-size: 24px;
    color: #111;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 34px;
    transform: translateY(-50%);
    z-index: 11;

}
#works{
    width: 100%;
    height: 1080px;
}
#works .inner{
    width: 1540px;
    height: 1080px;
    margin: auto;
}
#works .inner h3{
    font-size: 96px;
    font-weight: 700;
    margin-top: 161px;
    text-align: center;
}
#works .inner .gnb{
    display: flex;
    gap: 128px;
   justify-content: space-between;
   width: 615px;
   margin: 68px auto 0;
}
#works .inner .gnb li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}
#works .inner .gnb li.on a{
    color: #00F0B6;
}
#works .inner .grid{
    
    
    
    /* gap: 95px; */
   
    margin-top: 69px;
    position: relative;
}
#works .inner .grid div{
    width: 450px;
    height: 350px;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 90px;
    float: left;
    border: 2px solid #fff;
    box-sizing: border-box;
    
}
#works .inner .grid div:last-child{
    margin-right: 0;
}

#works .inner .grid div a img{
    width: 100%;
    height: 100%;
}
#works .inner .grid div:hover{
    border:none
    
}
#works .inner .grid1{
    display:none;
    
}

#works .inner .grid .img{
    
    display: none;
    
}








#contact{
    width: 100%;
    height: 1080px;
    background: #f1f1f1;
}
#contact .inner{
    width: 1540px;
    height: 1080px;
    margin: auto;
    position: relative;
}
#contact .inner h3{
    font-size: 96px;
    font-weight: 700;
    color: #111;
    text-align: center;
    margin-top: 161px;
}
#contact .inner p{
    font-size: 24px;
    font-weight: 300;
    color: #111;
    text-align: center;
    margin-top: 34px;
}
#contact .inner .box{
    width: 500px;
    height: 200px;
    border-radius: 100px;
    background: #111;
    position: absolute;
    left: 50%;
    top: 404px;
    transform: translateX(-50%);
    
}
#contact .inner .box:last-child{
    top: 652px;
}

#contact .inner .box1 .phone{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #fff;
    position: absolute;
    top: 25px;
    left: 25px;
}
#contact .inner .box1 .phone img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#contact .inner .box1 p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    /* border: 1px solid red; */
    line-height: 130px;
    margin-left: 150px;
}
#contact .inner .box2 .email{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #fff;
    position: absolute;
    top: 25px;
    right: 25px;
}
#contact .inner .box2 .email img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#contact .inner .box2 p{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    /* border: 1px solid red; */
    line-height: 130px;
    margin-right: 150px;
}


footer{
    height: 100px;
    background: #333;
}
footer .inner{
    width: 1540px;
    margin: auto;

}
footer .inner p{
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}